@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    border: 1rem solid rgba(0, 0, 0, 0.1); /* 스피너의 배경색 */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-left-color: var(--font_color_gray2); /* 스피너의 색상 */
    animation: rotate 1s ease-in-out infinite;
}
