@font-face {
    font-family: "TTHakgyoansimKkokkomaR";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkokkomaR.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* 처음에는 투명 */
    }
    to {
        opacity: 1; /* 나중에는 나타남 */
    }
}

@keyframes slide {
    0% {
        top: -70vh; /* 처음에는 위에 */
    }
    70% {
        top: 0;
    }
    100% {
        top: -10vh; /* 나중에는 조금 위로 */
    }
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoAnimation {
    position: absolute;
    top: -70vh;
    animation: slide 2.5s ease-in-out forwards;
}

.logo {
    width: 110vw;
    height: 70vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle1 {
    position: relative;
    z-index: -1;
    top: -25px;
    width: 100%;
    height: 20vh;
    background-color: var(--primary-color);
    border-radius: 0 0 50% 50%;
    box-shadow: 0 1rem 0 0 var(--secondary-color);
    border: 1.25rem solid transparent;
    box-sizing: border-box;
    /* box-shadow: -3px 12px 15px -12px rgba(187, 187, 187, 1); */
}

.intro {
    font-family: "TTHakgyoansimKkokkomaR";
    font-size: 1.4rem;
    font-weight: 100;
    color: white;
    margin-bottom: 1.8rem;
    margin-top: 30vh;
}

.logoImgWrapper {
    width: 75vw;
    height: auto;
    position: relative;

    /* background-color: red; */
}

.logoImg {
    width: 15rem;
}

.login {
    width: var(--container-width);
    height: 20vh;
    position: absolute;
    bottom: 0;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loginImg {
    width: 18rem;
    box-shadow: -3px 12px 15px -12px rgba(187, 187, 187, 1);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2.5s;
}
