.container {
    width: 100vw;
    padding-bottom: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headBox {
    width: 100vw;
    background: linear-gradient(180.08deg, #ffd53f 0.07%, #ffffff 91.67%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userBox {
    width: 80vw;
    margin-top: 6vh;
}

.hello {
    font-size: var(--font_size_content);
    color: white;
    margin-bottom: 0.2rem;
}

.username {
    font-size: 1.5rem;
    color: var(--font_color_yellow);
}

.point {
    padding: 0.2rem 1rem;
    font-size: var(--font_size_content);
    border-radius: 2rem;

    display: flex;
    align-items: center;

    background-color: var(--box_color_white);
    color: var(--font_color_yellow);
}

.point > p {
    margin-left: 0.3rem;
}

.user {
    width: 80vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widgets {
    width: 80vw;
    margin: 3.5vh 0;
    display: flex;
    justify-content: space-between;
}

.postBox {
    width: 80vw;
    margin-top: 1vh;
}

.postsTitle {
    font-size: var(--font_size_title);
    color: var(--main_color);
}

.nothing {
    margin-top: 2vh;
    font-size: var(--font_size_content);
    color: var(--font_color_gray);
}

.pagination {
    width: 80vw;
    margin: 2.5vh 0;
    display: flex;
    justify-content: center;
}
