.container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;

    /* background-color: ${theme.colors.primary}; */
    background-color: white;
    box-shadow: var(--box_shadow);
    border-radius: 15px 15px 0 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu1 {
    width: 15vw;
    height: 15vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--font_size_additional);
    color: var(--font_color_gray);
}

.menuIcon {
    font-size: 1.2rem;
}

.link {
    text-decoration: none;
}
