.container {
    width: 70vw;
    padding: 2vh 5vw;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--box_color_white);
    border: 1px solid var(--stroke_color);
    border-radius: var(--box_radius);
    box-shadow: var(--box_shadow2);
}

.title {
    font-size: 1.1rem;
    color: var(--font_color_blue);

    display: flex;
    align-items: center;
}

.content {
    margin: 0.4rem 0;
    font-size: var(--font_size_content);
    color: var(--font_color_gray3);
}
